<div
  class="ec-app-card card"
  style="cursor: pointer"
  @click="$emit('click')"
>
  <img
    v-if="iconUrl"
    class="card-img-top"
    :src="iconUrl"
    :alt="app.title"
  />
  <div
    v-else
    class="d-flex justify-content-center align-items-center py-5 my-md-4 h3 text-muted"
  >
    <i class="fas fa-image"></i>
  </div>

  <div class="card-body overflow-hidden">
    <h5 class="card-text text-truncate">
      {{ app.title }}
    </h5>
    <div
      class="card-subtitle mb-2 text-muted"
      style="height: 100px"
    >
      {{ formattedDescription }}
    </div>
  </div>

  <div class="card-footer b-0">
    <h6
      class="text-success"
      v-if="!app.paid"
    >
      {{ i19free }}
    </h6>
    <h6
      class="text-info"
      v-else
    >
      {{ i19paid }}
    </h6>

    <span
      v-if="downloadCount"
      class="float-right"
    >
      <i class="fas fa-download"></i>
      {{ downloadCount }}
    </span>
  </div>
</div>
