<div class="ec-application">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <b-skeleton
          v-if="!isLoaded"
          class="m-3"
          height="250px"
        ></b-skeleton>

        <fade-transition>
          <div v-if="isLoaded">
            <img
              v-if="icon"
              :src="icon"
              class="card-img-top"
            />
            <div
              v-else
              :style="{
                background: randomColors,
                fontSize: '4rem'
              }"
              class="card-img-top text-center text-white py-5"
            >
              {{ title.charAt(0) }}
            </div>

            <div class="card-body">
              <div class="text-center mb-3">
                <h3>{{ title }}</h3>
                <p class="card-text">
                  {{ shortDescription }}
                </p>

                <template v-if="isInstalled">
                  <button
                    class="btn btn-danger"
                    id="uninstall-app"
                  >
                    <span
                      class="d-inline-block"
                      style="width: 1.15rem"
                    >
                      <span v-if="isSwitching">
                        <i class="fas fa-circle-notch fa-spin"></i>
                      </span>
                      <i
                        v-else
                        class="fas fa-trash"
                      ></i>
                    </span>
                    {{ i19uninstall }}
                  </button>

                  <b-popover
                    target="uninstall-app"
                    triggers="click"
                    placement="top"
                    :show.sync="hasUninstallPopover"
                  >
                    {{ i19doYouWantToDeleteAppQn }}
                    <div class="text-right py-2">
                      <button
                        class="btn btn-light btn-sm mr-2"
                        type="button"
                        @click="hasUninstallPopover = false"
                      >
                        {{ i19no }}
                      </button>
                      <button
                        class="btn btn-danger btn-sm"
                        type="button"
                        @click="uninstallApp"
                      >
                        {{ i19yes }}
                      </button>
                    </div>
                  </b-popover>
                </template>

                <button
                  class="btn"
                  id="install-app"
                  :class="isInstalled ? 'btn-outline-success btn-xs mt-2' : 'btn-success'"
                  type="button"
                  @click="installApp"
                >
                  <span
                    class="d-inline-block"
                    style="width: 1.15rem"
                    v-if="!isInstalled"
                  >
                    <span v-if="isSwitching">
                      <i class="fas fa-circle-notch fa-spin"></i>
                    </span>
                    <i
                      v-else
                      class="fas fa-plus"
                    ></i>
                  </span>
                  {{ i19install }}
                </button>

                <b-popover
                  target="install-app"
                  triggers="manual"
                  placement="top"
                  :show.sync="hasInstallPopover"
                >
                  {{ i19appAlreadyInstalledMsg }}
                  <div class="text-right py-2">
                    <button
                      class="btn btn-light btn-sm mr-2"
                      type="button"
                      @click="hasInstallPopover = false"
                    >
                      {{ i19no }}
                    </button>
                    <button
                      class="btn btn-danger btn-sm"
                      type="button"
                      @click="requestInstall"
                    >
                      {{ i19yes }}
                    </button>
                  </div>
                </b-popover>

                <br>
                <small>{{ price }}</small>
              </div>

              <div v-if="author">
                <i class="fas fa-user mr-1"></i>
                {{ i19author }}: {{ author }}
              </div>
              <div v-if="version">
                <i class="fas fa-sync-alt mr-1"></i>
                {{ i19version }}:
                <samp>{{ version }}</samp>
              </div>
              <a
                v-if="website"
                :href="website"
                target="_blank"
              >
                <i class="fas fa-globe mr-1"></i>
                Website
              </a>
            </div>
          </div>
        </fade-transition>
      </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div
          v-if="!isLoaded"
          class="m-4"
        >
          <b-skeleton width="98%"></b-skeleton>
          <b-skeleton width="45%"></b-skeleton>
          <b-skeleton width="80%"></b-skeleton>
        </div>

        <slide-y-up-transition>
          <div v-if="isLoaded">
            <ul
              class="nav nav-tabs px-3"
              v-model="activeTabKey"
            >
              <li
                v-for="(tab, key) in tabListNoTitle"
                class="nav-item"
              >
                <a
                  class="nav-link"
                  :class="{ active: activeTabKey === tab.key }"
                  role="button"
                  @click="activeTabKey = tab.key"
                >
                  {{ tab.tab }}
                </a>
              </li>
            </ul>

            <div class="card-body">
              <article
                v-if="activeTabKey === 'description'"
                key="app-description"
                class="px-lg-2"
              >
                <vue-markdown>
                  {{ (description || `# ${title}\nApp ID: \`${appId}\``) }}
                </vue-markdown>
              </article>

              <article
                v-else-if="activeTabKey === 'configuration'"
                key="app-settings"
              >
                <slot name="settings">
                  <ec-admin-settings-form
                    :application="applicationBody"
                    :is-saving="isSaving"
                    @submit="editApp"
                  />
                  <slot name="settings-append"/>
                </slot>
              </article>

              <article
                v-else-if="activeTabKey === 'relatedApps'"
                key="app-related"
              >
                <slide-y-up-transition group>
                  <div
                    v-if="appsRelated.length"
                    key="related"
                    class="row"
                  >
                    <div
                      class="col-6 col-md-4" v-for="(app, i) in appsRelated"
                      :key="`app-${i}`"
                    >
                      <ec-app-card
                        :app.sync="appsRelated[i]"
                        :ecomApps="ecomApps"
                        @click="$emit('click:app', app)"
                        class="border"
                      />
                    </div>
                  </div>

                  <div
                    v-else-if="isfetchingRelated"
                    key="related-loading"
                  >
                    <b-skeleton
                      width="75%"
                      height="100px"
                    ></b-skeleton>
                    <b-skeleton width="25%"></b-skeleton>
                    <b-skeleton width="85%"></b-skeleton>
                  </div>

                  <p
                    v-else
                    key="related-empty"
                    class="lead"
                  >
                    {{ i19noAppsAvailable }}
                  </p>
                </slide-y-up-transition>
              </article>
            </div>
          </div>
        </slide-y-up-transition>
      </div>

      <button
        @click="$emit('click:back')"
        role="button"
        class="float-right btn btn-light"
      >
        <i class="fas fa-undo mr-1"></i>
        {{ i19back }}
      </button>
    </div>
  </div>
</div>
